:root{

    --bg: #ffffff;
    --text: #111827;
    --border: #e5e7eb;

}

html.dark{

    --bg: #121212;
    --text: #d1d5db;
    --border: #2d2d2d;

}

.myThme{

    background: var(--bg);

    color: var(--text);

    border: 1px solid var(--border);

}