:root {
    --bg-theme: #fbfbfb;
    --card: #f5f5f5;
    --text: black;
    
}

html.light {
    --bg-theme: #fbfbfb;
    --card: #3e3e47;
    --text: black;
}
.mycard{

    background: var(--card);

    color: var(--text);

     
}
body{
    background: var(--bg-theme);
    color: var(--text);
}